form{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-top: -20%;
    padding: 40px 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    box-shadow: 0 10px 20px 2px hsl(229, 24%, 87%);
    /* box-shadow: 0 10px 10px 10px red; */
}

.form_heading{
    color: hsl(213, 96%, 18%);
}

.form_paragraph{
    color: hsl(231, 11%, 63%);
}   

.active_plan{
    border-color: hsl(243, 100%, 62%) !important;
    background-color: hsl(217, 100%, 97%) !important;
}