.form_heading{
    color: hsl(213, 96%, 18%);
}

.form_paragraph{
    color: hsl(231, 11%, 63%);
}   

.input_group{
    display: flex;
    flex-flow: column;
    gap: 5px;
}

label{
    color: hsl(213, 96%, 18%);
    font-size: small;
    font-weight: 500;
}

input{
    padding: 12.5px;
    outline: none;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 5px;
}

::placeholder{
    font-weight: 700;
    color: hsl(231, 11%, 63%);
}