

.sidebar{
    height: 25vh;
    width: 100%;
    background-image: url('../assets/images/bg-sidebar-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding-block: 30px;
}

.steps li{
    list-style: none;
    width: 20px;
}

.step_info{
    display: none;
}

.numbering{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    display: grid;
    place-items: center;
    color: white;
    border: 1px solid white;
    font-weight: 500;
    font-weight: 700;
}

.active_number{
    color: black;
    background-color: hsl(206, 94%, 87%);
}

@media screen and (min-width: 1024px) {
    .sidebar{
        height: 100%;
        width: 40%;
        background-image: url('../assets/images/bg-sidebar-desktop.svg');
        border-radius: 15px;
    }

    .step_info{
        display: flex;
        gap: 5px;
        flex-flow: column;
        text-transform: uppercase;
        color: white;
    }    

    .steps{
        flex-flow: column;
        padding: 50px 20px;
        justify-content: flex-start;
    }

    .steps li{
        width: 100%;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .step_label{
        font-weight: lighter;
    }

}